/* line 1, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #8a373c;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

/* line 109, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.in-grid {
  width: 850px;
  margin: auto;
}

@media (max-width: 900px) {
  /* line 109, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
  .in-grid {
    width: 100%;
  }
}

/* line 116, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page {
  background-image: url("../images/background.png");
  min-height: 100vh;
  background-size: cover;
  position: absolute;
  background-position: top center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 124, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page h1 {
  color: #fff !important;
  text-align: center;
  margin-top: 40vh;
  font-size: 60px;
  margin-bottom: 20px;
}

/* line 130, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page h1:before {
  content: '- ';
}

/* line 133, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page h1:after {
  content: ' -';
}

/* line 137, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page i.fas.fa-play {
  margin-right: 10px;
}

/* line 140, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page .cta-topage2 {
  margin: auto;
  background-color: #fff;
  border-radius: 40px;
  color: #622b30 !important;
  width: fit-content;
  text-align: center;
  padding: 7px 20px;
  height: 40px;
  border: 2px solid #fff;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 150, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page .cta-topage2 a {
  text-decoration: none !important;
  color: #622b30;
}

/* line 155, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page .cta-topage2:hover {
  background: rgba(98, 43, 48, 0.3);
  color: #fff !important;
}

/* line 158, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page .cta-topage2:hover a {
  color: #fff !important;
}

/* line 165, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#next-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #8a373c;
  display: none;
  padding-top: 30px;
}

/* line 171, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#next-page h1 {
  color: #622b30;
  font-size: 25px;
}

/* line 175, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#next-page .filmrol {
  text-align: center;
  margin-top: calc(50vh - 130px);
}

/* line 178, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#next-page .filmrol img {
  width: 200px;
}

/* line 183, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.final-page {
  background-image: url("../images/background.png");
  min-height: 100vh;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 191, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.final-page h1 {
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

/* line 195, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.final-page h1::before {
  background-image: url("../images/logo.png");
  background-size: 28px 27px;
  display: inline-block;
  width: 28px;
  height: 27px;
  margin-right: 10px;
  margin-left: 10px;
  content: "";
}

/* line 205, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.final-page h1 a {
  color: #fff;
  text-decoration: none;
}

/* line 210, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.final-page h2 {
  color: #fff !important;
  text-align: center;
  margin-top: 20px;
  font-size: 60px;
  margin-bottom: 20px;
  font-size: 32px;
}

/* line 217, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.final-page h2:before {
  content: '- ';
}

/* line 220, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.final-page h2:after {
  content: ' -';
}

/* line 224, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.final-page .movieResultWrapper {
  background-color: rgba(255, 255, 255, 0.121569);
  border: 2px solid rgba(255, 255, 255, 0.258824);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
  overflow: auto;
}

/* line 231, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.final-page .movieResultWrapper .movieInformation {
  width: 60%;
  float: left;
}

/* line 235, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.final-page .movieResultWrapper img {
  height: 350px;
  float: right;
  border-radius: 10px;
}

/* line 244, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page {
  background-image: url("../images/background-blur.png");
  background-size: cover;
  min-height: 100vh;
}

/* line 248, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .nav {
  height: 70px;
  padding-top: 11px;
  width: 100%;
  padding-left: 20px;
}

/* line 253, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .nav h1 {
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

/* line 257, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .nav h1::before {
  background-image: url("../images/logo.png");
  background-size: 28px 27px;
  display: inline-block;
  width: 28px;
  height: 27px;
  margin-right: 10px;
  margin-left: 10px;
  content: "";
}

/* line 267, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .nav h1 a {
  color: #fff;
  text-decoration: none;
}

/* line 273, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .questionField {
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  padding: 60px;
  color: #fff;
}

@media (max-width: 900px) {
  /* line 273, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
  .question-page .questionField {
    padding: 30px;
  }
}

/* line 283, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .var-highlight {
  color: #C0AD60;
}

/* line 286, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .string-highlight {
  color: rgba(253, 149, 90, 0.8);
}

/* line 290, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .line {
  font-size: 2em;
  text-align: center;
  display: none;
}

/* line 295, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question {
  display: none;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 0 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 0 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #622b30;
  padding: 50px 50px 15px;
}

/* line 303, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question h3 {
  font-weight: 600;
  text-align: center;
}

/* line 307, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question tr {
  display: inline-block;
  margin: 10px 10px 0px 20px;
}

/* line 311, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question td {
  background: #131820;
  background: -moz-linear-gradient(top, #131820 0%, #532a30 100%);
  background: -webkit-linear-gradient(top, #131820 0%, #532a30 100%);
  background: linear-gradient(to bottom, #131820 0%, #532a30 100%);
  border-radius: 50px;
  padding: 15px;
  color: #fff;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 320, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question td:hover {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: -moz-linear-gradient(top, #864444 0%, #532a30 100%);
  background: -webkit-linear-gradient(top, #864444 0%, #532a30 100%);
  background: linear-gradient(to bottom, #864444 0%, #532a30 100%);
}

/* line 327, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #answersTable {
  margin-top: 15px;
}

/* line 330, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question .submitButton {
  background: #131820;
  background: -moz-linear-gradient(top, #864444 0%, #532a30 100%);
  background: -webkit-linear-gradient(top, #864444 0%, #532a30 100%);
  background: linear-gradient(to bottom, #864444 0%, #532a30 100%);
  border-radius: 50px;
  padding: 15px 50px;
  margin-top: 40px !important;
  color: #fff;
  margin: auto;
  width: fit-content;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 342, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question .submitButton:hover {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-shadow: 0px 0px 0 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 0 7px rgba(0, 0, 0, 0.15);
  background: -moz-linear-gradient(top, #864444 0%, #532a30 100%);
  background: -webkit-linear-gradient(top, #864444 0%, #532a30 100%);
  background: linear-gradient(to bottom, #864444 0%, #532a30 100%);
}

/* line 351, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question .skipButton {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

/* line 355, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question .skipButton:hover {
  opacity: 1 !important;
}

/* line 359, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #selectedactors {
  display: none;
}

/* line 362, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #selectedactors table tr {
  margin: 10px !important;
}

/* line 365, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #selectedactors table td {
  background-color: #f1f1f1;
  width: fit-content;
  border-radius: 30px;
  padding: 0px 10px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 0 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 0 7px rgba(0, 0, 0, 0.15);
}

/* line 373, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #selectedactors table td:hover {
  opacity: 0.5;
}

/* line 375, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #selectedactors table td:hover:before {
  content: "X ";
  text-align: center;
}

/* line 383, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield {
  display: none;
  text-align: center;
}

/* line 386, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

/* line 392, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

/* line 399, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

/* line 403, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield input[type=text]:focus {
  outline: none !important;
}

/* line 408, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield input[type=submit] {
  background: #131820;
  background: -moz-linear-gradient(top, #864444 0%, #532a30 100%);
  background: -webkit-linear-gradient(top, #864444 0%, #532a30 100%);
  background: linear-gradient(to bottom, #864444 0%, #532a30 100%);
  border-radius: 0px 50px 50px 0px;
  margin-left: -4px !important;
  padding: 10px;
  margin-top: 40px !important;
  color: #fff;
  margin: auto;
  width: fit-content;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

/* line 421, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield input[type=submit]:hover {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-shadow: 0px 0px 0 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 0 7px rgba(0, 0, 0, 0.15);
  background: -moz-linear-gradient(top, #864444 0%, #532a30 100%);
  background: -webkit-linear-gradient(top, #864444 0%, #532a30 100%);
  background: linear-gradient(to bottom, #864444 0%, #532a30 100%);
}

/* line 430, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield input[type=submit]:focus {
  outline: none !important;
}

/* line 435, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

/* line 447, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/* line 454, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield .autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

/* line 459, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .question #actorcompletefield .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* line 482, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.actorButton {
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999;
  border: 2px solid #1b1a1a;
  background: -moz-linear-gradient(top, #131820 0%, #532a30 100%);
  background: -webkit-linear-gradient(top, #131820 0%, #532a30 100%);
  background: linear-gradient(to bottom, #131820 0%, #532a30 100%);
  border-radius: 50px;
  padding: 15px;
  color: #fff;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 496, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.actorButton:hover {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: -moz-linear-gradient(top, #864444 0%, #532a30 100%);
  background: -webkit-linear-gradient(top, #864444 0%, #532a30 100%);
  background: linear-gradient(to bottom, #864444 0%, #532a30 100%);
}

/* line 503, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#actorDiv {
  color: #fff;
}

/* line 507, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.slidecontainer {
  width: 100%;
  display: none;
  text-align: center;
}

/* line 511, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.slidecontainer .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 30px;
}

/* line 523, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.slidecontainer .slider:hover {
  opacity: 1;
}

/* line 527, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #612F34;
  cursor: pointer;
  border-radius: 30px;
}

/* line 537, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.slidecontainer .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #612F34;
  cursor: pointer;
  border-radius: 30px;
}

/* line 547, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.content-wrapper {
  min-height: calc(100vh - 80px);
}

/* line 550, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.footer {
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

/* line 556, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#final_table {
  color: #fff;
}

/* line 559, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.fa {
  font-size: 12px;
  opacity: 0.6;
}

/* line 563, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#omdb {
  color: #fff;
}

/* line 564, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#omdb .movieTitle {
  font-weight: 600;
  font-size: 22px;
}

/* line 570, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#omdb #websiteTag a {
  color: #ffffff;
  background-color: #ffffff17 !important;
  padding: 3px 10px;
  border: 1px solid grey;
  border-radius: 12px;
  text-decoration: none;
}

/*# sourceMappingURL=../css/style.map */