/* line 1, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #8a373c;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

/* line 109, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.in-grid {
  width: 850px;
  margin: auto;
}

@media (max-width: 900px) {
  /* line 109, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
  .in-grid {
    width: 90%;
  }
}

/* line 116, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page {
  background-image: url("../images/background.png");
  min-height: 100vh;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 123, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page h1 {
  color: #fff !important;
  text-align: center;
  margin-top: 40vh;
  font-size: 60px;
  margin-bottom: 20px;
}

/* line 129, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page h1:before {
  content: '- ';
}

/* line 132, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page h1:after {
  content: ' -';
}

/* line 136, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page i.fas.fa-play {
  margin-right: 10px;
}

/* line 139, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page .cta-topage2 {
  margin: auto;
  background-color: #fff;
  border-radius: 40px;
  color: #622b30 !important;
  width: fit-content;
  text-align: center;
  padding: 7px 20px;
  height: 40px;
  border: 2px solid #fff;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 149, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page .cta-topage2 a {
  text-decoration: none !important;
  color: #622b30;
}

/* line 154, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page .cta-topage2:hover {
  background: rgba(98, 43, 48, 0.3);
  color: #fff !important;
}

/* line 157, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#home-page .cta-topage2:hover a {
  color: #fff !important;
}

/* line 164, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#next-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #8a373c;
  display: none;
  padding-top: 30px;
}

/* line 170, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#next-page h1 {
  color: #622b30;
  font-size: 25px;
}

/* line 174, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#next-page .filmrol {
  text-align: center;
  margin-top: calc(50vh - 130px);
}

/* line 177, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
#next-page .filmrol img {
  width: 200px;
}

/* line 186, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .movieScreenBackground {
  margin-top: 60px !important;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px 60px;
  border-radius: 2px;
}

/* line 192, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .movieScreen {
  padding: 60px 40px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  margin: auto;
}

/* line 198, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .movieScreen h2, .question-page .movieScreen p {
  color: #8a373c;
}

/* line 203, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page #lottie {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
}

/* line 211, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page #lottie svg {
  width: 70% !important;
  margin-top: -120px;
}

/* line 216, /Users/maxdefroe/stack/Studie/_P1/Knowledge and Data/Final Project/MovieNight/scss/style.scss */
.question-page .questionField {
  background-color: #fff;
  padding: 60px;
  margin-top: -170px;
  position: absolute;
  width: 100%;
}

/*# sourceMappingURL=../css/style.map */