<!DOCTYPE html>
<html ng-App="KRRclass" lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Movie Night </title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/style.css" rel="stylesheet">


  </head>

  <body  ng-controller="MainCtrl">

    <!-- Main Content -->
    <div class="container mb-5">
		 
		 
		 <!-- begin Question 4  -->
		 <div class="container mt-5 mb-5">
		   <div class="row justify-content-md-center">
		     <div class="col-md-auto">
		       <h3>Question 3</h3> 
		     </div>
		     
		   </div>
		   <div class="row">
			   <!-- put the variable associated with your SPARQL endpoint in the brakets, e.g. {{myVarName}}  -->
			   <!-- if you reload the page, your endpoint name should appear -->
		     <div class="col">
		       My SPARQL endpoint is: <strong>{{myendpoint}}</strong>
		     </div>
		   </div>
		 </div>
		
		 <!-- end Question 4  -->
		 
		 
		  <!-- begin Question 5  -->
		 <div class="container mt-5 mb-5">
		   <div class="row justify-content-md-center">
		     <div class="col-md-auto">
		       <h3>Question 4</h3> 
		     </div>
		   </div>
		   <div class="row">
		     <div class="col-6">
			   <div class="card" >
			     <div class="card-body">
			       <h5 class="card-title text-center">My visualisation 1</h5>
				   <!-- TODO : write the code for visualisation 1 here -->
					 		<canvas class="chart chart-horizontal-bar" chart-data="myInstances" chart-labels="myClasses" > </canvas>					
				   <!-- TODO : add the sparql query here -->
			       <p class="card-text">{{sparqlquery1}} </p>
			     </div>
			   </div>
		     </div>
			 
		     <div class="col-6">
			   <div class="card" >
			     <div class="card-body">
			       <h5 class="card-title text-center">My visualisation 2</h5>
				   <!-- TODO : write the code for visualisation 2 here -->
					 		<canvas class="chart chart-pie" chart-data="myInstances2" chart-labels="myClasses2" ></canvas>
				   <!-- TODO : add the sparql query here -->
			       <p class="card-text">{{sparqlquery2}}</p>
			     </div>
			   </div>
		     </div>
			 
		   </div>
		 </div> 	 <!-- end Question 5 -->
	
	 
	  	<!-- begin Question 6 -->
		<!-- expected output :  one component taking information from the interface, a button to "fire" the command, and something (chart, text, table...) to show the results -->
		 <div class="container mt-5 mb-5">
		   <div class="row justify-content-md-center">
		     <div class="col-md-auto">
		       <h3>Question 5</h3> 
		     </div>
		   </div>
		   
		   
		   <div class="row">
  		     <div class="col-6">
  			   <div class="card" >
  			     <div class="card-body">
  			       <h5 class="card-title text-center">My dynamic interaction</h5>
			       <!--  TODO add your component (e.g. selector, textbox, buttons ) here -->
				   <!-- some components examples here https://getbootstrap.com/docs/4.0/components/  -->
				   <!-- do not forget to add the ng-click function to your button! -->
						<div class="input-group mb-3">
							<input type="text" class="form-control" ng-model="myInput" placeholder="Type here" >
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" ng-click="doMyAction()" type="button">Enter</button>
							</div>
						</div>
				   
  			     </div>
  			   </div>
  		     </div>
			 
		     <div class="col-6">
			   <div class="card" >
				  
			     <div class="card-body">
			       <h5 class="card-title text-center">My result</h5>
			         <p class="card-text">
							<!-- TODO visualise result here -->
                <p>{{result}}<p>
				   </p>
				   
			     </div>
			   </div>
		     </div>
			
		   </div>
		 </div>
	
	
	   
    </div>
 

    <!-- Footer -->
    <footer class="footer  py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Vu_Td-CoopLab 2018</p>
      </div>
    </footer>

    <!-- JavaScript libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
	
	<script src="js/Chart.min.js"></script>
	<script src="js/angular-chart.min.js"></script>
	
	<script src="main.js"></script>

  </body>

</html>
